/* @import "variables";
@import "button";
.main-footer {
    max-height: 85px;
    min-height: 80px;
    height: 12vh;
    display: flex;
}

section:nth-child(2) {
    width: 50%;
    @include centrar();
    ul{
        display:flex;
        justify-content: space-evenly;
        width: 80%;
    }
} */